<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--单片机相关信息-->
    <add key="BaudRate_Dan" value="115200"/>
    <add key="Parity_Dan" value="None"/>
    <add key="DataBits_Dan" value="8"/>
    <add key="StopBits_Dan" value="One"/>
    <add key="HandShake_Dan" value="None"/>
    <add key="ReadTimeout_Dan" value="2000"/>
    <!--温控仪相关信息-->
    <add key="BaudRate_Wen" value="19200"/>
    <add key="Parity_Wen" value="None"/>
    <add key="DataBits_Wen" value="8"/>
    <add key="StopBits_Wen" value="One"/>
    <add key="HandShake_Wen" value="None"/>
    <add key="ReadTimeout_Wen" value="2000"/>
    <!--传感器回归方程y=bx+a-->
    <add key="b1" value="0.41790"/>
    <add key="a1" value="-0.09540"/>
    <add key="b2" value="1.29830"/>
    <add key="a2" value="-0.21330"/>
    <!--实验设置信息-->
    <add key="PersonName" value="--"/>
    <add key="TestNumber" value="1"/>
    <add key="TestDepth" value="1"/>
    <add key="TestName" value="消失模涂料"/>
    <add key="TestFrom" value="华中科技大学"/>
    <add key="TestTime" value="2016-05-12"/>
    <!--温度设置信息-->
    <add key="SetTemperature" value="900"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--厂家信息-->
    <add key="Factory" value="苏州兴业材料科技股份有限公司"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
