<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--串口通讯参数设置-->
    <add key="PortName" value="COM3" />
    <add key="BaudRate" value="57600" />
    <add key="Parity" value="None" />
    <add key="DataBits" value="8" />
    <add key="StopBits" value="One" />
    <add key="Handshake" value="None" />
    <add key="ReadTimeout" value="2000" />
    <!--参考电压参数设置-->
    <add key="ReferenceVoltage" value="2450000" />
    <!--PID输出最大值-->
    <add key="PIDMaxOutPut" value="100" />
    <!--炉温(850)控制PID参数设置-->
    <add key="Furnace_850_U0" value="0" />
    <add key="Furnace_850_P" value="10" />
    <add key="Furnace_850_I" value="350" />
    <add key="Furnace_850_D" value="30" />
    <add key="Furnace_850_Beta" value="42.5" />
    <add key="K1_850" value="1.4" />
    <add key="K2_850" value="0" />
    <!--炉温(1000)控制PID参数设置-->
    <add key="Furnace_1000_U0" value="0" />
    <add key="Furnace_1000_P" value="5" />
    <add key="Furnace_1000_I" value="450" />
    <add key="Furnace_1000_D" value="120" />
    <add key="Furnace_1000_Beta" value="50" />
    <add key="K1_1000" value="1.4" />
    <add key="K2_1000" value="0" />
    <!--炉温(700)控制PID参数设置-->
    <add key="Furnace_700_U0" value="0" />
    <add key="Furnace_700_P" value="10" />
    <add key="Furnace_700_I" value="450" />
    <add key="Furnace_700_D" value="100" />
    <add key="Furnace_700_Beta" value="35" />
    <add key="K1_700" value="1.4" />
    <add key="K2_700" value="0" />
    <!-- 炉温(900)控制PID参数设置-->
    <add key="Furnace_900_U0" value="0" />
    <add key="Furnace_900_P" value="10" />
    <add key="Furnace_900_I" value="350" />
    <add key="Furnace_900_D" value="30" />
    <add key="Furnace_900_Beta" value="42.5" />
    <add key="K1_900" value="5.2" />
    <add key="K2_900" value="0.01" />
    <!--炉温采样时间间隔-->
    <add key="DrawData_Interval" value="2" />
    <!--压力采样时间间隔-->
    <add key="Gas_DrawData_Interval" value="1" />
    <!--试样参数-->
    <add key="SampleName" value="树脂砂" />
    <add key="SampleNumber" value="10001" />
    <add key="Factory" value="华中科技大学" />
    <add key="People" value="张晨" />
    <add key="SampleWeight" value="1" />
    <!--目标温度的设定-->
    <add key="SettingValue" value="850" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>