<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <!--试样信息及加工条件相关参数-->
    <add key="SpecimenNum" value="S00001"/>
    
    <add key="ExperimentPerson" value="张三"/>
    
    <add key="SpecimenName" value="冷芯盒树脂砂"/>
    
    <add key="TxtMatHigh" value="20"/>
    
    <add key="ExperimentUnit" value="无锡三峰"/>
    
    <add key="SpecimenSize" value="实心Φ10X10"/>

	<add key="InnerDiameter" value="0"/>
	
    <add key="SpecimenDiameter" value="10"/>
    
    <add key="SpecimenHeight" value="20"/>
    
    <add key="TxtReNum" value="1"/>

    <!--设备加工工艺相关参数-->
    
    <!--圆柱型传感器参数信息-->
    <!--传感器最大量程-->
    <add key="SensorMax" value="200"/>
    <!--传感器灵敏度系数-->
    <add key="SensorSys" value="2"/>
    <!--供桥电压-->
    <add key="SensorMV" value="10"/>

    
    <!--加载电机空载行程信息-->
    <add key="MotorIdlePath" value="12"/>
    <!--加载电机加载速度-->
    <add key="MotorLoadingSpeed" value="5"/>
    <!--膨胀率加载电机空载行程信息-->
    <add key="DisplacementMotorIdlePath" value="6"/>
    <!--加热炉下降距离-->
    <add key="FurnaceFallingDistance" value="160"/>
    <!--加热炉升降速度-->
    <add key="FurnaceLiftingSpeed" value="50"/>
    
    <add key="SettingTemperature" value="300"/>
    <add key="TxtRevise" value="1"/>
    <!--抗压强度保温时间-->
    <add key="SoakingTime" value="60"/>
    <!--高温膨胀力预应力-->
    <add key="PreloadedForce" value="10"/>
    <!--条件热稳定预应力-->
    <add key="PreloadedPressure" value="0.2"/>

  </appSettings>
</configuration>